<p-card [style]="{ width: '100%', height: '100%' }" class="flex justify-center">
  <p-card id="evac-status" [class]="determinations()?.status">
    <div class="evac-grid">
      <div class="flex justify-center align-center">
        @if (determinations()){
        <i class="pi pi-info-circle" style="font-size: 4em"></i>
        } @else {
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
        }
      </div>
      <div class="">
        <h2>Status: {{ statusHeader() }}</h2>
        <p>
          {{ statusMessage() }}
        </p>
      </div>
    </div>
  </p-card>
  <div class="grid first-level mt-4">
    <div>hi map</div>
    <p-card class="output-card">
      <ul>
        @for (bullet of determinations()?.advice; track bullet) {
        <li>{{ bullet }}</li>
        } @empty {
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        <span class="loading-pulse"></span>
        }
      </ul>
    </p-card>
  </div>
</p-card>
