<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex felx-column justify-center align-items-center gap-3">
      <p-avatar class="p-overlay-badge mr-2" image="Hackathon_Logo_1080x1080.png" size="large" shape="circle" />
      <span> Evacugator </span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex felx-column justify-center align-items-center gap-3">
      @if (internetConnection.isOnline()) {
      <i class="pi pi-wifi"></i>
      } @else {
      <p-overlaybadge badgeSize="small" value="!" severity="danger">
        <i class="pi pi-wifi"></i>
      </p-overlaybadge>
      }
      <p-button [rounded]="true" [text]="true" [plain]="true" [icon]="isDarkMode ? 'pi pi-moon' : 'pi pi-sun'"
        (click)="toggleDarkMode()" />
    </div>
  </ng-template>
</p-menubar>